<!--FOOTER.EJS by Michele Clarkson - Clarkson Accessible Design - A footer to be used by every page of this portfolio website. It includes all links to js and jquery files as well as a common footer-->       
        <footer role="contentinfo">
            <p><small>&copy; Michele Clarkson 2016</small></p>
        </footer>
        <script src="/javascripts/jquery-2.2.0.min.js"></script>  
        <script src="/javascripts/bootstrap.min.js"></script>
    </div><!--see header for <div>--> 
</body>
</html>

