<%- include partials/header.ejs %>

   <!-- <h1>Michele Clarkson</h1>
    -->
 <img src="images/michele.jpg" title="Michele" class="img-responsive" alt="photo of Michele"/>
<p>Cupcake ipsum dolor sit. Amet brownie dessert pie wafer gummies. Soufflé halvah jelly-o wafer chocolate cake. Sweet icing chocolate bar cotton candy.
Sweet roll dragée wafer chocolate cheesecake ice cream tiramisu jelly. Jelly-o cheesecake sesame snaps jelly. Cake tootsie roll muffin lollipop.
Chupa chups toffee marshmallow marzipan sweet. Chocolate cake chupa chups cake marshmallow apple pie. Bonbon macaroon cotton candy gummi bears marzipan chupa chups.
Cake candy apple pie. Jelly jelly chocolate bar biscuit soufflé cookie marshmallow brownie sesame snaps. Croissant icing soufflé chupa chups biscuit tiramisu gummies biscuit.
Pudding donut cake donut jelly. Caramels toffee dragée toffee pastry topping topping donut. Macaroon gingerbread jelly cake.</p>

<%- include partials/footer.ejs %>