<%- include partials/header.ejs %>

<section class="container">
    <div class="content row">
        <section class="main col col-lg-9">
            <div class="content row">
            <section class="biography col col-lg-9">
                <p>Michele  Clarkson  is no stranger to being the master of her own destiny. After studying   Fine   Art   at   the   Ontario   College   of   Art,   she   freelanced   both   as   aprofessional artist and a graphic designer for many years.  Michele is honoured to have been invited to exhibit in some of the most prestigious art exhibitions in Ontario, including the McMichael Gallery, The National Capital Fine Art Festival, The Archives of Ontario and The Algonquin Arts Centre in Algonquin Park. She has worked with Ducks Unlimited,The Buckhorn   Fine   Art   Festival   and Wildlife Habitat Canada with Environment Canada.  As one of the early adopters of the Internet, Michele taught herself how to write code and to build her first website.   Always an interest, Michele wanted formal training and enrolled in Georgian College in Interactive Web Design and Development in 2013. She will be completing her diploma in the next few months and will target her career on  designing for web usability and accessibility as well as auditing websites for accessibility. Michele plans to launch her new business this spring when she finishes school.</p>
            </section><!--biography-->
            </div>
        </section><!--main-->
        
        <section class="sidebar col col-lg-3">
           <h3>Michele</h3>
            <img src="images/michele.png" alt="Michele Clarkson photo" />
            <hr>
            <img src="images/articleSm.png" alt="Michele Clarkson photo" />
            <!--<a href="mailto:micheleclarkson@rogers.com">Contact Michele</a>-->
            <p>accessibility badge</p>
            <p></p>
            <p></p>
        </section><!--sidebar-->
    </div><!--content-->
</section><!--container-->

<%- include partials/footer.ejs %>