<!--ABOUT.EJS by Michele Clarkson COMP2106 - Clarkson Accessible Design - A biography photo and achievements-->  
<%- include partials/header.ejs %>
<!--Bio and links -->

<section class="container about">
    <div class="content row">
        <section class="col col-lg-12 biography">
            <img src="images/michele.png" alt="Photograph of Michele Clarkson with a big smail" />
            <h1>About Michele</h1>
            <p>Michele  Clarkson  is no stranger to being the master of her own destiny. After studying   Fine   Art   at   the   Ontario   College   of   Art,   she   freelanced   both   as   aprofessional artist and a graphic designer for many years.  Michele is honoured to have been invited to exhibit in some of the most prestigious art exhibitions in Ontario, including the McMichael Gallery, The National Capital Fine Art Festival, The Archives of Ontario and The Algonquin Arts Centre in Algonquin Park. She has worked with Ducks Unlimited,The Buckhorn   Fine   Art   Festival   and Wildlife Habitat Canada with Environment Canada.  As one of the early adopters of the Internet, Michele taught herself how to write code and to build her first website.   Always an interest, Michele wanted formal training and enrolled in Georgian College in Interactive Web Design and Development in 2013. She will be completing her diploma in the next few months and will target her career on  designing for web usability and accessibility as well as auditing websites for accessibility. Michele plans to launch her new business this spring when she finishes school.</p>
        </section><!--biography-->
    </div>
    <hr>
    <div class="content row">
        <div class="col-lg-12 achievements">
            <div class="col-lg-3">
                <a href="http://www.natureartists.com/artists/artist_artwork.asp?ArtistID=222"><img src="images/afc.png" alt="Artists for Conservation logo and link to website" /></a>
                <p>Michele is a Signature Member of Artists For Conservation and one of 50 founding members worldwide.</p>
            </div> 
            <div class="col-lg-3">
                <a href="http://barrie.entrepreneursconnect.ca/from-student-to-start-up-10-tips-to-make-the-transition-successfully/"><img src="images/studentStartup.png" alt="A link to an article written about Michele" /></a>    
                <p>Michele Clarkson is featured in this great article by Barrie Entrepreneurs Connect.</p>
            </div> 
            <div class="col-lg-3">
                <a href="http://whc.org/stamp-gallery/2004-mallards-clarkson-2/"><img src="images/whc.png" alt="Ducks Unlimited logo" /></a>
                <p>2004 Mallards (Clarkson) winner of the Wildlife Habitat Canada Stamp and Print Competition.</p>
            </div>
        </div>
    </div>
</section>
        
<%- include partials/footer.ejs %>

            