<%- include partials/header.ejs %>

<section class="container contact" id="contact">
    <div class="content row">
        <section class="main col col-lg-12">
            <form class="form-horizontal">
            <fieldset>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="">Full Name:</label>  
                  <div class="col-md-4">
                    <input id="" name="" type="text" class="form-control input-md">  
                  </div>
                </div>
<br>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Email</label>  
                  <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" class="form-control input-md">
                  </div>
                </div>
<br>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textarea">Comments</label>
                  <div class="col-md-4">                     
                    <textarea class="form-control" id="textarea" name="textarea"></textarea>
                  </div>
                </div>
<br>
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton">Email Michele</label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">SUBMIT</button>
                  </div>
                </div>

            </fieldset>
            </form>
        </section>
    </div><!--content-->
</section><!--container-->




<%- include partials/footer.ejs %>