<%- include partials/header.ejs %>
<!--Home page -->
<div class="container home">
    <section class="row">
        <div class="col-lg-12">
            <section class="jumbotron">
                <h1>Clarkson Accessible Design</h1>
                <center><img src="images/logoA.png"></center><!--BAD I am working on finding an answer-->
            </section>
        </div>
    </section>
</div>

<%- include partials/footer.ejs %>
