<%- include partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Something to say</h1>
        <p>something else here</p>
    </div>
</div>


<section class="container">
    <div class="content row">
        <section class="main col col-lg-9">
            <p>This is the main</p>
        </section>
        <section class="sidebar col col-lg-3">
            <p>This is the sidebar</p>
        </section><!--sidebar-->
    </div><!--content-->
</section><!--container-->

<%- include partials/footer.ejs %> 