<!--INDEX.EJS by Michele Clarkson COMP2106 - Clarkson Accessible Design - The home page of the Website-->  
<%- include partials/header.ejs %>
<!--Home page -->
<div class="container home">
    <section class="row">
        <div class="col-lg-12">
            <section class="jumbotron box-shadow">
                <h1>Clarkson Accessible Design</h1> 
                <p>WCAG2.0 | AODA COMPLIANCE</p>
                <img class="center-block" src="images/logoA.png" alt="">
            </section>
            
        </div>
    </section>
</div>

<%- include partials/footer.ejs %>

 