<%- include partials/header.ejs %>

<section class="container">
    <div class="row">
        <section class="col-md-12 jumbotron">
            <div class="text-center">
                <h1>Clarkson Accessible Design</h1>
                <p>Michele Clarkson</p>
            </div>
        </section>
    </div>
</section>

<%- include partials/footer.ejs %> 