<%- include partials/header.ejs %>

    <section class="row" id="connect">
        
        <section>
            <img src="images/studentStartup-500x306.png" title="Startup" alt="Image to accompany an article about Michele"/>
        </section>
        
    </section>

<%- include partials/footer.ejs %>  
