<!--SERVICES.EJS by Michele Clarkson COMP2106 - Clarkson Accessible Design - A page describing the services I will offer-->  
<%- include partials/header.ejs %>
<!--Services page with icons describing-->
<section class="container services">
    <div class="content row">
        <section class="main col col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                <img src="http://placehold.it/150x150">   
                <p>iconsxxx</p>
                </div>
                <div class="col-lg-3">
                <img src="http://placehold.it/150x150">
                <p>icons</p>
                </div>
                <div class="col-lg-3">
                <img src="http://placehold.it/150x150">    
                <p>icons</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                <img src="http://placehold.it/150x150">    
                <p>icons</p>
                </div>
                <div class="col-lg-3">
                <img src="http://placehold.it/150x150">
                <p>icons</p>
                </div>
                <div class="col-lg-3">
                <img src="http://placehold.it/150x150">    
                <p>icons</p>
                </div>
            </div>
        </section>
        <section class="sidebar col col-lg-3">
            <ul class="">
                <li>Web Design</li>
                <li>Web Development</li>
                <li>UI/UX</li>
                <li>Accessibility</li>
                <li>Information Architecture</li>
                <li>Graphic Design</li>
                <li>Project Management</li>
                <li>SEO</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>PHP</li>
                <li>MEAN</li>
                <li>ASP.net</li>
                <li>C#</li>
                <li>SQL</li>
                <li>Javascript</li>
                <li>JQuery</li>
                <li>Dreamweaver</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>InDesign</li>
                <li>Visual Studio</li>
                <li>FileZilla</li>
                <li>GitHub</li>
            </ul><!--skills list--> 
        </section><!--sidebar-->
    </div><!--content-->
</section><!--container-->

<%- include partials/footer.ejs %>