<!--SKILLS.EJS by Michele Clarkson COMP2106 - Clarkson Accessible Design - The skills aquired at Georgian College-->  
<%- include partials/header.ejs %>
<!--links to websites and images of work-->
<section class="container skills">
    <div class="content row">
        <section class="main col col-lg-9">
            <div class="row absolute">
                <div class="col-lg-3">
                <img src="images/ao.png">  
                <p>Mobile App</p>
                </div>
                <div class="col-lg-3">
                <img src="images/ao3.png">  
                <p>Image Carousel</p>
                </div>
                <div class="col-lg-3">
                <img src="images/ao2.png">  
                <p>Video</p>
                </div>
                
            </div>
            <div class="row shell">
                <div class="col-lg-5">
                <img src="images/mockUp.png">    
                <p>Mock Ups</p>
                </div>
                <div class="col-lg-5">
                <img src="images/colorComp.png">    
                <p>Colour Samples</p>
                </div>
            </div>
        </section>
        <section class="sidebar col col-lg-3">
            <ul class="skills">
                <li>Web Design</li>
                <li>Web Development</li>
                <li>UI/UX</li>
                <li>Accessibility</li>
                <li>Information Architecture</li>
                <li>Graphic Design</li>
                <li>Project Management</li>
                <li>SEO</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>PHP</li>
                <li>MEAN</li>
                <li>ASP.net</li>
                <li>C#</li>
                <li>SQL</li>
                <li>Javascript</li>
                <li>JQuery</li>
                <li>Dreamweaver</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>InDesign</li>
                <li>Visual Studio</li>
                <li>FileZilla</li>
                <li>GitHub</li>
            </ul><!--skills list--> 
        </section><!--sidebar-->
    </div><!--content-->
</section><!--container-->

<%- include partials/footer.ejs %>