<%- include partials/header.ejs %>
<section>
<img src="http://placehold.it/150x150" />
<img src="http://placehold.it/150x150" />
<img src="http://placehold.it/150x150" />
</section>
<section>
<img src="http://placehold.it/150x150" />
<p>Cupcake ipsum dolor sit. Amet brownie dessert pie wafer gummies. Soufflé halvah jelly-o wafer chocolate cake. Sweet icing chocolate bar cotton candy...continue</p>
</section>
<%- include partials/footer.ejs %>