body {
    background-image:
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-bottom: 60px;
}

.jumbotron {
    background-image: url('../images/computer.png');
    color: #333;
    background-attachment: fixed;
    margin-top: 0px;
    margin-bottom: 8px;
}

header {
}

navbar {
    float: right;
}

a {
  color: #333333;
}

#contact {
    
}

footer {
    color: #fff;
    background-color: #333;
}