/* STYLES.CSS by Michele Clarkson COMP2106 - Clarkson Accessible Design - CUSTOM CSS STYLES */

/*Global Styles*/
.container main {
    width: 100%;
    
}

body {
    font-size: 100%;
    line-height: 2em;
    padding: 3%;
    font-family: sans-serif;
    background-color: #;
}

h1 {
}

p {
    font-size: 1.3em;
    color: #333333;
}


/*Header*/



nav ul li {
    font-size: 2em;
}

nav ul li a {
    color: aqua;
}

.portfolio {
    /*outline: 2px solid pink;*/
}

.portfolio .navbar-brand {
    display: flex;
    align-items: center;
}

.portfolio .navbar-brand>img {
    padding:  7px 14px;
}

.sidebar li {
    font-size: 1.35em;

}
/*Index - home page*/
.home {
    background-image: url('../images/jumbotron.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
     
}

/*Jumbotron*/
.jumbotron {
    background: rgb(255, 255, 255); /* This is for ie8 and below */
    background: rgba(255, 255, 255, 0.78); 
}
/*centering the logo*/
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron h1 {
    color: #333333;
    font-family: sans-serif;
    font-size:4em;
    font-weight: 400;
    text-align: center;
}

.jumbotron p {
    color: #333333;
    font-family: sans-serif;
    font-size:24px;
    text-align: center;
}

.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.biography {
    padding-top: 2%;
}

.biography p {
    font-size: 1.5em;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2em; 
    
}

.biography h1 {
    font-size: 1.5em;
}

.achievements {
   /*outline: 2px solid pink;*/
    width: 520;
    padding:5px 0 5px;
    margin: 0 auto;
}

.achievements img {
    /*outline: 2px solid aqua;*/
    display: inline-block;
    margin-left: 10px;
    margin-right: 0;
    padding-left: 100px;
}

.achievements p {
    /*outline: 2px solid red;*/
    display: inline-block;
    margin-left: 110px;
    margin-top: 10px;
    
}

.about h1 {
    font-size: 2em;
    font-weight: 300;
}


 .skills {
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px     
}

.skills .main {
    padding-left: 15%;
}

.skills .main img {
    padding-left: 10px;
}

.skills .sidebar {
    margin-top: 10px;
}

.services .main {
    padding-top: 8%;
    padding-left: 15%;
}

.services .sidebar {
    margin-top: 10px;
}

.form-horizontal  {
    margin-left: 2%;
}
.form-group label {
    color: #333;
    font-size: 1.5em;
}

.contact {
    margin-top: 30px;
}
fieldset {
    
}   


#singlebutton {
    background-color: #f58636;
}

/*Footer*/
footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #333;
    text-align: center;
}
footer p {
    color: #fff;
}
