body {
    background-image:
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-bottom: 60px;
}

.jumbotron {
    position: relative;
    background: #000 url("jumbotron-bg.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
}

header {
}

a {
  color: #333333;
}

footer {
    color: red;
    outline: 2px solid green;
}